
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="UTF-8">
    <title>Google Trends</title>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="icon" type="image/x-icon" href="http://images.inform.janssen-emea.com/Web/JanssenPharmaceutica/{68f5eb53-9b62-465d-ab0b-8c1cb0b723b1}_favicon.ico">
    <meta name="theme-color" content="#4e8ef7">

    <!-- add to homescreen for ios -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        <div class="container-fluid">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Interest over time</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Interest By region</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body" role="tabpanel">
                    <div class="row-fluid">
                        <div class="col-md-6 col-md-offset-3">
                            <form method="get" action="/">
                                <select name="timespan" class="form-control form-control-lg">
                                    <% timeSpans.forEach(function(timeSpan){ %>
                                        <option value="<%= timeSpan[1] %>"><%= timeSpan[0] %></option>
                                    <% }); %>
                                </select>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <% images.forEach(function(image) { %>
                        <div class="col-md-4">
                            <img src="<%= image %>">
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>